<div class="offcanvas-header text-bg-dark">
  <h5 class="offcanvas-title">
    <app-logo-home />
  </h5>
  <div data-bs-theme="dark">
    <button
      type="button"
      class="btn-close text-reset"
      aria-label="Close"
      (click)="activeOffcanvas.dismiss('Cross click')"
    ></button>
  </div>
</div>
<div class="offcanvas-body ps-4 ms-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- <div
  ngbAccordion
  [closeOthers]="true"
  class="accordion accordion-flush border-bottom"
>
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="fw-bold text-bg-light">Home</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="p-0">
        <ng-template>
          <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-fire me-1"></i>
                </div>
                <div class="flex-grow-1 ms-3">Dashboard</div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-ui-checks-grid me-1 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">Ketersediaan Kamar</div>
              </div>
            </a>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="fw-bold text-bg-light">Rekap</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="p-0">
        <ng-template>
          <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-fire me-1 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">Dashboard</div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-ui-checks-grid me-1 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">Ketersediaan Kamar</div>
              </div>
            </a>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="fw-bold text-bg-light">Bpjs</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="p-0">
        <ng-template>
          <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-window-stack me-1 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">Antrean</div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <i class="bi-ui-checks-grid me-1 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">V-Claim</div>
              </div>
            </a>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div> -->
        <div class="container">
          <div class="row">
            <div class="col">
              <nav class="w-100" id="bd-docs-nav" aria-label="Docs navigation">
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <strong class="d-flex w-100 align-items-center fw-semibold">
                      <i class="bi-house text-primary me-2"></i>
                      Home
                    </strong>

                    <ul class="list-unstyled fw-normal py-2 small ps-4">
                      <li>
                        <a
                          routerLink="/home/dashboard"
                          routerLinkActive="active"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          (click)="activeOffcanvas.dismiss('Cross click')"
                          >Dashboard</a
                        >
                      </li>
                      <li>
                        <a
                          routerLink="/home/ketersediaan-kamar"
                          routerLinkActive="active"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          (click)="activeOffcanvas.dismiss('Cross click')"
                          >Ketersediaan Kamar</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Rekap IGD</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/browsers-devices/"
                          class="btn text-nowrap btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Rekap Poli</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/javascript/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Rekap Inap</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/webpack/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Rekap Cara Bayar</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/parcel/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Rekap Diagnosa</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/vite/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Rekap Jenis Pasien</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <strong class="d-flex w-100 align-items-center fw-semibold">
                      <i class="bi-house text-primary me-2"></i>
                      Pendaftaran
                    </strong>

                    <ul class="list-unstyled fw-normal py-2 small ps-4">
                      <li>
                        <a
                          routerLink="pasien-baru"
                          routerLinkActive="active"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Pasien Baru</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/download/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Pasien Lama</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Data</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <strong class="d-flex w-100 align-items-center fw-semibold">
                      <i class="bi-house text-primary me-2"></i>
                      Pelayanan
                    </strong>

                    <ul class="list-unstyled fw-normal py-2 small ps-4">
                      <li>
                        <a
                          routerLink="igd"
                          routerLinkActive="active"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >IGD</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/download/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Poli</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Inap</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="list-unstyled mb-0">
                  <li class="py-2">
                    <strong class="d-flex w-100 align-items-center fw-semibold">
                      <i class="bi-house text-primary me-2"></i>
                      Farmasi
                    </strong>

                    <ul class="list-unstyled fw-normal py-2 small ps-4">
                      <li>
                        <a
                          routerLink="depo-igd"
                          routerLinkActive="active"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Depo IGD</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/download/"
                          class="btn btn-outline-secondary mb-1 d-inline-block rounded border-0"
                          >Depo Inap</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Apotek</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Gudang</a
                        >
                      </li>
                      <li>
                        <a
                          href="/docs/5.3/getting-started/contents/"
                          class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                          >Setting</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
