<nav class="navbar navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
  <div class="container-fluid placehold-glow">
    <a class="navbar-brand" routerLink="/home">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <span
            class="placeholder text-warning rounded-circle col-6"
            style="width: 40px; height: 40px"
          ></span>
        </div>
        <div class="d-flex flex-column">
          <div class="flex-grow-1 fw-bold ms-2 lh-1 placeholder mb-1 col-3">
            SIMRS
          </div>
          <div class="flex-grow-1 ms-2 lh-1 small placeholder">
            RS BHAYANGKARA POLDA NAD
          </div>
        </div>
      </div>
    </a>
  </div>
</nav>
