<div class="container">
  <div class="row">
    <div class="col">
      <nav class="w-100" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 placeholder-glow">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi-house text-danger me-2 placeholder"></i>
              <span class="placeholder"> Home </span>
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <span
                  routerLink="/home/dashboard"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                >
                  Dashboard
                </span>
              </li>
              <li>
                <a
                  routerLink="/home/ketersediaan-kamar"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Ketersediaan Kamar</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0 placeholder-glow">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi-card-checklist text-warning me-2 placeholder"></i>
              <span class="placeholder"> Pendaftaran </span>
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="pasien-baru"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder placeholder"
                  >Pasien Baru</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Pasien Lama</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Data Pasien</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0 placeholder-glow">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi-house text-success me-2 placeholder"></i>
              <span class="placeholder">Pelayanan</span>
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="igd"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >IGD</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Poli</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Inap</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0 placeholder-glow">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi-house text-primary me-2 placeholder"></i>
              <span class="placeholder"> Farmasi </span>
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="depo-igd"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Depo IGD</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Depo Inap</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Apotek</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Gudang</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0 placeholder"
                  >Setting</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
