<div class="row">
  <div class="col p-0">
    @defer{
    <app-navbar />
    } @placeholder (minimum 500ms) { <app-nav-bar-placeholder />}
  </div>
</div>
<div class="container">
  <div class="row">
    <div
      class="col-lg-3 d-none d-lg-block p-0 border-end"
      style="height: calc(100vh - 80px); overflow-y: auto"
    >
      @defer{
      <app-side-menu />
      } @placeholder (minimum 500ms) { <app-side-menu-placholder /> }
    </div>
    <div class="col-lg-9"><router-outlet /></div>
  </div>
</div>
