<div class="card shadow">
  <div class="card-body">
    <div class="text-center my-3">
      <app-logo-company />
    </div>
    <div class="text-center">
      <span class="h4 fw-bold">{{ loginService.sim() }}</span>
    </div>
    <div class="text-center">
      <span class="h6">{{ loginService.ketSim() }}</span>
    </div>
    <div class="my-3">
      <!-- <form (submit)="onSubmit()"> -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">
        Login
      </button>
      <!-- </form> -->
    </div>
  </div>
</div>
