<div class="container">
  <div class="row">
    <div class="col">
      <nav class="w-100" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi bi-house-fill text-primary me-2"></i>
              Home
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="/home/dashboard"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  routerLink="/home/ketersediaan-kamar"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Ketersediaan Kamar</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi bi-book-half text-success me-2"></i>
              Pendaftaran
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="pasien-baru"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Pasien Baru</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Pasien Lama</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Data Pasien</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi bi-gear-fill text-danger me-2"></i>
              Pelayanan
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="igd"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >IGD</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  >Poli</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Inap</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled mb-0">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i class="bi bi-capsule-pill text-warning-emphasis me-2"></i>
              Farmasi
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  routerLink="depo-igd"
                  routerLinkActive="active"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Depo IGD</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/download/"
                  class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Depo Inap</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Apotek</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Gudang</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                  >Setting</a
                >
              </li>
            </ul>
            <ul class="list-unstyled mb-0">
              <li class="py-2">
                <strong class="d-flex w-100 align-items-center fw-semibold">
                  <i class="bi bi-people-fill text-primary me-2"></i>
                  SDM
                </strong>

                <ul class="list-unstyled fw-normal py-2 small ps-4">
                  <li>
                    <a
                      routerLink="/home/sdm/user"
                      routerLinkActive="active"
                      class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      User</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="list-unstyled mb-0">
              <li class="py-2">
                <strong class="d-flex w-100 align-items-center fw-semibold">
                  <i class="bi bi-wallet-fill text-success me-2"></i>
                  Tarif
                </strong>

                <ul class="list-unstyled fw-normal py-2 small ps-4">
                  <li>
                    <a
                      href="/docs/5.3/getting-started/contents/"
                      class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      IGD</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/browsers-devices/"
                      class="btn text-nowrap btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                    >
                      Poli</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="list-unstyled mb-0">
              <li class="py-2">
                <strong class="d-flex w-100 align-items-center fw-semibold">
                  <i
                    class="bi bi-file-earmark-richtext-fill text-danger me-2"
                  ></i>
                  Rekap
                </strong>

                <ul class="list-unstyled fw-normal py-2 small ps-4">
                  <li>
                    <a
                      href="/docs/5.3/getting-started/contents/"
                      class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      IGD</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/browsers-devices/"
                      class="btn text-nowrap btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                    >
                      Poli</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/javascript/"
                      class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      Inap</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/webpack/"
                      class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      Cara Bayar</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/parcel/"
                      class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      Diagnosa</a
                    >
                  </li>
                  <li>
                    <a
                      href="/docs/5.3/getting-started/vite/"
                      class="btn btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                      (click)="onClose()"
                    >
                      Jenis Pasien</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled mb-0">
          <li class="py-2">
            <strong class="d-flex w-100 align-items-center fw-semibold">
              <i
                class="bi bi-gear-wide-connected text-warning-emphasis me-2"
              ></i>
              Tools
            </strong>

            <ul class="list-unstyled fw-normal py-2 small ps-4">
              <li>
                <a
                  href="/docs/5.3/getting-started/contents/"
                  class="btn btn-outline-secondary text-nowrap text-nowrap mb-1 d-inline-block rounded border-0"
                  (click)="onClose()"
                >
                  Vclaim</a
                >
              </li>
              <li>
                <a
                  href="/docs/5.3/getting-started/browsers-devices/"
                  class="btn text-nowrap btn-outline-secondary text-nowrap mb-1 d-inline-block rounded border-0"
                >
                  Antrean MJKN</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
